* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.introduction {
    padding: 50px 0 20px;
}

.introduction {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    /* background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%),
        url("../img/background/tech2.jpg");*/
    background: url("../img/ackground/tech2.jpg");
    background-position: center;
    opacity: 0.6;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

ul li {
    margin-right: 20px !important;
}

ul li a {
    font-weight: 600 !important;
    font-size: 18px !important;
}

p {
    font-weight: 600 !important;
}

label {
    font-weight: 650 !important;
}

ul li {
    display: flex !important;
    align-items: baseline !important;
}

.services {
    padding: 10px 40px;
}

.service-box {
    padding: 5px 5px;
    box-shadow: 3px 3px 5px #cccccc,
        -3px -3px 5px #ffffff;
    transition: transform 0.5s;
    border-radius: 15px;
}

.service-box:hover {
    background: #007bff;
    color: #ffffff;
    transform: translateY(10px);
    cursor: pointer;
}

.creative-design {
    margin-top: 70px;
    margin-bottom: 70px;

}

.skills {
    margin-top: 70px;
    margin-bottom: 70px;

}

.skill-box {
    height: 20vh;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 5px #cccccc,
        -3px -3px 5px #ffffff;
    transition: transform 0.5s;
    border-radius: 15px;
}

.skill-box:hover {
    background: #007bff;
    color: #ffffff;
    transform: translateY(10px);
    cursor: pointer;
}

.projects {
    margin-top: 70px;
    margin-bottom: 70px;

}

.blog {
    margin-top: 70px;
    margin-bottom: 70px;

}

.blog-area {
    border: 1px solid #e9ecef;
    max-height: 70vh;
    overflow: hidden;
}

.clients {
    margin: 70px auto;
    padding: 50px 0;
    background-color: #212121;
}

.contact {
    padding: 70px 0;
    margin: 70px auto;
    background: #fafafa;
}

.project-btn button {
    margin-bottom: 10px;
}

.testimonial-box {
    margin-bottom: 15px;
    box-shadow: 3px 3px 5px #cccccc,
        -3px -3px 5px #ffffff;
    transition: transform 0.5s;
    border-radius: 10px;
    padding: 10px 20px;
}

.testimonial-box:hover {
    transform: translateY(-10px);
    cursor: pointer;
}

.footer {
    background: #F7F7F7;
    margin-top: 70px;
    columns: #212121;
}

.footer-contact {
    display: flex;
    justify-content: space-between;

}

.footer-contact:hover {
    cursor: pointer;
}

/*********media queries********/
@media only screen and (max-width:425px) {
    .blog-area {
        max-height: 100vh;
        overflow: hidden;
    }

}